.DS_Store
*~
#*

Anaconda3-2020.07-Linux-x86_64.sh
software/bb_frames/*.jpg
software/frames/*.jpg
software/cl_reachy/env
*.pyc

reachySTT-40758913c356.json
reachySTT.json
deepspeech-0.9.3-models.scorer
